extends outline

block content
    //- Create a menu for the store
    h5 Dining Room Menus
    br
    body
    //- Appetizers 
    .menu-section
      h4 Appetizers
      .menu-item
        img(src='/static/images/photo1.jpg' width='500' height='300')
        h3 California Roll Sushi - $10.00
        p(style='margin-bottom: 0px;') Fresh cucumber, ripe avocado, crab meat, and toasted sesame seeds.
        p A classic roll with fresh ingredients and veggies to create a great meal.

      .menu-item
        img(src='/static/images/photo2.jpg' width='500' height='300')
        h3 Tortilla Chips - $ 12.00
        p(style='margin-bottom: 0px;')  Tasty tortilla chips, fresh mozzarella, ripe tomatoes, and delicious lettuce.
        p A popular appetizer with homemade sauce and fried golden brown chips.

    //- Main Courses 
    .menu-section
      h4 Main Courses
      .menu-item
        img(src='/static/images/photo3.jpg' width='500' height='300')
        h3 Caprese Salad - $15.99
        p(style='margin-bottom: 0px;') Fresh lettuce, chopped tomatoes, green lettuce, and smoked salmon. 
        p A delicious main course with smoked salmon and a variety of veggies. 

      .menu-item
        img(src='/static/images/photo4.jpg' width='500' height='300')
        h3 Hawaiian Pizza - $18.99
        p(style='margin-bottom: 0px;') Cheddar cheese, chopped tomatoes, mushrooms, lettuce and peppers. 
        p The most popular pizza great for the season, with freshly made ingredients.

    //- Desserts
    .menu-section
      h4 Desserts
      .menu-item
        img(src='/static/images/photo5.jpg' width='500' height='300')
        h3 Chocolate Brownies - $6.99
        p(style='margin-bottom: 0px;') Red raspberries, chocolate chip, and strawberry glaze muffins.
        p The goto dessert with a range of sweet goodness and tasty recipes.
      
      .menu-item
        img(src='/static/images/photo6.jpg' width='500' height='300')
        h3 Buttermilk Pancakes - $8.99
        p(style='margin-bottom: 0px;') Buttermilk, fresh strawberries, chopped walnuts, and vanilla glazed pancakes.
        p Perfectly fluffy buttermilk muffins, with a golden-brown top and superb flavors.
    //- Create a footer 
    br 
    br
    br
    footer 
      p The Modern Cuisine &#174; Registered Trademark of Food Corporation
